<script type="text/javascript">
		$(function() {

   $( "#select_origin" ).autocomplete({
   	source: function( request, response ){
   		$.ajax({
   			url: "<%= searches_path(:json)%>",
   			dataType: "json",
   			data: {
               term : request.term,
               //country_id : $("#country_id").val(),
               //cat_id: $("#cat_id2").val(),
               //questionItems:$("#questionItem").is(':checked'),
               //isactive:$("input[name='isactive']:checked").val(),

               //isInStock:$("input[name='isInStock']:checked").val(),
               //isAutoComplete:true
            },
            success: function(data){
               response($.map(data, function(item) {
                  return {
                     label: __highlight(item.name, request.term),
                     value: item.name,
                     type: item.type,
                     id: item.id,
                  };
               }));
            }
		   })
		},
		select: function( event, ui ) {
			if (ui.item.type == "c") {
				$( "#country_id" ).val(ui.item.id);
				$( "#resort_id" ).val("");
			}
			else
			{
				$( "#resort_id" ).val(ui.item.id);
				$( "#country_id" ).val("");
			}
		},
		open: function(){
			   $(this).removeClass("wait");
			},

		search: function(event, ui) {
        $(this).addClass("wait");
      },
      minLength: 1
	}
	).data( "autocomplete" )._renderItem = function( ul, item ) {
                  // only change here was to replace .text() with .html()
                  return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( $( "<a></a>" ).html(item.label) )
                        .appendTo( ul );
                };
});

function __highlight(s, t) {
  var matcher = new RegExp("("+$.ui.autocomplete.escapeRegex(t)+")", "ig" );
 //return s.replace(matcher, "<strong>$1</strong>");
 return s.replace(matcher, "<span class = \"highlight_text\">$1</span>");
}

</script>

<h1>Search Countries & Resorts</h1>

<div class="center hero-unit">
	Search:
	<input id="select_origin" />
	<!--<input id="select_id" name = "select[id]" type="hidden" />-->
	<input id="country_id"/>
	<input id="resort_id"/>
</div>
